@media screen and (max-width: 861.99px) {
    .slider-template {
        width: 360px;
        padding-bottom: 50px;
        ~ .swiper-navigation {
            max-width: 552px;
        }
    }

    .faq {
        .f-row {
            flex-direction: column;
        }
        .faq-form {
            margin: auto;
        }
    }
    footer {
        .f-row {
            .secondary-information {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 767.99px) {
    .calculation {
        .calculation-form {
            margin: 0 auto;
            padding: 49px 30px 34px;
            width: 100%;
            margin-top: 23px;
            .control-box_checkboxes {
                margin-top: 10px;
            }
            
            .control-box_file {
                width: 100%;
                margin-top: 28px;
                padding: 8px 0 0;
            }
            .btn {
                width: 100%;
            }
        }
    
        .calculation-row {
            flex-direction: column;
            gap: 0;
        }
    }

    [type=file] + label {
        padding: 12px 12px 8px;
    }

    .swiper-navigation {
        display: none;
    }

    .card {
        width: 335px;

        .btn-row {
            .btn {
                max-width: 138px;
                padding: 13px 8px;
            }
        }
    }

    .slider-template {
        width: 335px;
    }

    .delivery {
        padding: 54px 0 51px;
        .card {
            .img-box {
                img {
                    margin-top: -7px;
                }
            }
            .card-title {
                margin-top: 13px;
            }
            .card-option {
                margin-top: 1px;
                gap: 46px;
                img {
                    margin-right: 10px;
                }
            }
            .card-price {
                margin-top: 3px;
                margin-left: 5px;
            }
            .btn-row {
                margin-top: 3px;
            }
        }
        .slider-template .swiper-pagination {
            bottom: 8px;
            margin-left: 5px;
        }
    }

    .services .card .img-box {
        position: absolute;
        inset: 0px 0px 0px 0px;
        width: auto;
        height: 100%;
        z-index: 0;
        /* object-fit: cover; */
        /* object-fit: contain; */
        margin-bottom: 0;
    }
    .services {
        .card {
            .btn-row {
                .btn {
                    margin-left: 10px;
                    margin-bottom: 2px;
                    width: 153px;
                    max-width: 153px;
                }
            }
            .card-description {
                margin-top: 0px;
                margin-bottom: 3px;
                font-size: 14px;
                padding-right: 20px;
            }
        }
    }
    .slider-template .swiper-pagination {
        bottom: 3px;
        margin-left: 5px;
    }
}
