@media screen and (max-width: 861.99px) {
    .slider-template {
        width: 360px;
        ~ .swiper-navigation {
            max-width: 552px;
        }
    }
}

@media screen and (max-width: 767.99px) {
    .calculation {
        .calculation-form {
            margin: 0 auto;
            padding: 49px 30px 34px;
            width: 100%;
            margin-top: 23px;
            .control-box_checkboxes {
                margin-top: 10px;
            }
            
            .control-box_file {
                width: 100%;
                margin-top: 28px;
                padding: 8px 0 0;
            }
            .btn {
                width: 100%;
            }
        }
    
        .calculation-row {
            flex-direction: column;
            gap: 0;
        }
    }

    [type=file] + label {
        padding: 12px 12px 8px;
    }

    .swiper-navigation {
        display: none;
    }
}
