.banner {
    .swiper {
        border-radius: 20px;
    }
    .container {
        height: 700px;
        padding-top: 163px;
        padding-bottom: 228px;
    }
    .banner-title {
        line-height: 126%;
        font-weight: 700;
        font-size: 56px;
        max-width: 463px;
        margin-bottom: 8px;
    }
    .banner-description {
        font-weight: 300;
        font-size: 20px;
        line-height: 136%;
        margin-bottom: 37px;
        max-width: 340px;
        min-height: 54px;
    }
}