.calculation {
    padding-top: 99px;
    padding-bottom: 117px;

    .container {
        position: relative;
    }

    .template-title h2 {
        margin-bottom: 9px;
    }

    .calculation-row {
        display: flex;
        gap: 30px;
        align-items: flex-start;
    }

    .calculation-form {
        max-width: 626px;
        border-radius: 20px;
        box-shadow: 5px 15px 40px 0 #0b186152;
        background-color: $bg-section;
        padding: 47px 50px 58px;
        

        .calculation-col {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .label-classic {
            margin-bottom: 6px;
            font-weight: 600;
            line-height: 126%;
            font-size: 15px;
            color: $color;
        }

        .input-classic {
            padding: 16px 18px;
            width: 100%;
            border-radius: 10px;
            background-color: $color;
            margin-bottom: 17px;
            border: none;
            
            &::placeholder {
                color: $placeholder-color;
            }

            &:hover {
                box-shadow: 0 0 1px 1px $primary-color;
            }
            &:active,
            &:focus {
                box-shadow: 0 0 1px 1px $secondary-color;
            }
        }

        .control-box_checkboxes {
            margin-top: 22px;
        }

        .control-box_file {
            position: relative;
            margin-top: 48px;
            margin-bottom: 26px;

            .file-name {
                position: absolute;
                left: 0;
                top: -33px;
                font-size: 15px;
            }
        }

        .checkbox_control-box {
            position: relative;
            margin-bottom: 14px;
            font-weight: 600;
        }
    }
    
    .calculation-img {
        position: absolute;
        bottom: -115px;
        left: 610px;
        width: 29.167vw;
        max-width: 560px;
        min-width: 360px;
    }
}