* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $bg-body;
    color: $color;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $fs;
}

.container {
    max-width: 1164px;
    padding: 0 12px;
}
.container-xxl {
    width: 100%;
    max-width: 1820px;
}

img {
    max-width: 100%;
    height: auto;
}


a {
    color: $primary-color;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

li {
    &::marker {
        color: $primary-color;
    }
}

ul {
    li {
        position: relative;
        &:not([class]) {
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 3px;
                left: -18px;
                top: 7px;
                transform: rotate(45deg);
            }
        }   
    }
}

.dropdown-menu {
    > li {
        &::before {
            display: none;
        }
    }
}

.btn {
    font-family: $font-primary;
    font-weight: 600;
    padding: 13px 26px;
    border: 1px solid $primary-color;
    border-radius: 90px;
    color: $color;
    cursor: pointer;
    font-size: 15px;
    line-height: 146%;
    
    &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }
    &.btn-primary {
        background: $primary-color;
        
        &:hover {
            background: transparent;
        }
    }
    &.btn-secondary {
        background-color: transparent;
        &:hover {
            background: $primary-color;
        }
    }
    &.btn-primary,
    &.btn-secondary {
        &:active {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
    &.btn-mini {
        padding: 12px 16px;
    }
    &.btn-lg {
        padding: 19px 24px;
        font-size: 16px;
    }
    & img {
        margin-left: 46px;
        height: 27px;
        width: 27px;
    }
}


