* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $bg-body;
    color: $color;
    font-family: $font-primary;
    font-weight: 400;
    font-size: $fs;
}

.container {
    max-width: 1164px;
    padding: 0 12px;
}
.container-xxl {
    width: 100%;
    max-width: 1820px;
}

img {
    max-width: 100%;
    height: auto;
}


a {
    color: $primary-color;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

li {
    &::marker {
        color: $primary-color;
    }
}

ul {
    li {
        position: relative;
        &:not([class]) {
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 3px;
                left: -18px;
                top: 7px;
                transform: rotate(45deg);
            }
        }   
    }
}

.dropdown-menu {
    > li {
        &::before {
            display: none;
        }
    }
}

.btn {
    font-family: $font-primary;
    font-weight: 600;
    padding: 13px 26px;
    border: 1px solid $primary-color;
    border-radius: 90px;
    color: $color;
    cursor: pointer;
    font-size: 15px;
    line-height: 146%;

    &:focus-visible {
        border: 1px solid $secondary-color;
        box-shadow: none;
    }   
    
    &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }
    &.btn-primary {
        background: $primary-color;
        
        &:hover {
            background: transparent;
        }
    }
    &.btn-secondary {
        background-color: transparent;
        &:hover {
            background: $primary-color;
        }
    }
    &.btn-primary,
    &.btn-secondary {
        &:active {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }
    &.btn-mini {
        padding: 12px 16px;
    }
    &.btn-lg {
        padding: 19px 24px;
        font-size: 16px;
    }
    & img {
        margin-left: 46px;
        height: 27px;
        width: 27px;
    }
}

.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 48px;

    &:before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background: $secondary-color;
    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 6px;
        
        &::after {
            background-color: $secondary-color;
        }
    }

    h4 {
        font-weight: 400;
    }
}

*:focus-visible {
    outline: none;
}   

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

[type="checkbox"],
[type="file"] {
    display: none;
}

[type="checkbox"] + label {
    padding-left: 33px;
    cursor: pointer;
    font-size: 15px;
}

[type="checkbox"] + label:before {
    content: "";
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: $color;
    border: 1px solid #282b38;
    border-radius: 4px;
}

[type="checkbox"]:checked + label:before {
    background: url("assets/img/check.svg") center no-repeat, #fff;
}
[type="checkbox"]:hover + label:before {
    border: 1px solid $primary-color;
}
[type="checkbox"]:focus + label:before,
[type="checkbox"]:active + label:before {
    border: 1px solid $secondary-color;
}

[type="file"] + label {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding: 12px 12px 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23ffffff42' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23E58D35' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    &:active,
    &:focus {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        color: $secondary-color;
    }
}

section {
    padding: $section-padding;
    position: relative;
}

.bg-section {
    position: relative;
    padding-left: 88px;
    padding-right: 88px;
    
    &::before {
        content: "";
        background-color: $bg-section;
        max-width: 1820px;
        width: calc(100% - 100px);
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        z-index: -1;
        border-radius: 20px;
    }
}

span.break {
    display: block;
}

.swiper-pagination {
    bottom: var(--swiper-pagination-bottom, 36px);
    margin-left: 10px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 90;
    border: 2px solid $color;
    background: transparent;
    margin-right: 22px;
    &.swiper-pagination-bullet-active {
        background: $color;
    }
}

main {
    section:nth-child(odd) {
        .template-title {
            &::before,
            &::after {
                background: $primary-color;
            }
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}