.custom-navbar {
	padding: 21px 0 34px;
	.navbar-brand {
		margin: 0;
	}
	.container-fluid {
		padding: 0;
	}
	.navbar-nav {
		margin-top: 2px;
		.nav-item {
			.nav-link {
				padding: 12px 23px;
				color: #fff;
				text-decoration: none;
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}

