header{
	height: 114px;
	padding: 25px 0 39px;
	a {
		color: #fff;
		text-decoration: none;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 48.35px;
	width: 172px;
	margin-right: 97px;
	cursor: pointer;
}


.navbar,
.navbar-expand-lg {
	max-width: 1140px;
}

.navbar-nav {
	gap: 45px;
}
