///fonts///
$font-primary: "proxima-nova";

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;

$bg-body: #282B38;
$bg-section: #363A4D;
$section-padding: 90px 0 100px;
$section-padding-mb: 30px 0 30px;
$fs: 16px;
$color: #FFFFFF;
$color-secondary: #85899C;
$placeholder-color: #CBCBCB;

