<section class="advantages bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <!-- <div class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-1.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Таможенное <span class="break">оформление груза</span> Таможенное </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-2.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Страховка груза</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-3.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Проверка товара</span> на брак</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-4.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Доставка</span> в любой город Украины</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-5.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Консолидация</span> на складе</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-6.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Ответственное</span> хранение груза</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-7.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Помощь в</span> оплате товара</h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-8.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
                </div>
            </div>
        </div> -->

        <div id="advantages-slider" class="swiper container">

            <div class="swiper-wrapper">

                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-1.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Таможенное <span class="break">оформление груза</span> Таможенное </h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-2.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Страховка груза</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-3.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Проверка товара</span> на брак</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-4.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Доставка</span> в любой город Украины</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-5.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Консолидация</span> на складе</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-6.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Ответственное</span> хранение груза</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-7.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title"><span class="break">Помощь в</span> оплате товара</h6>
                </div>
                <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-img-8.svg" alt="advantages">
                    </div>
                    <h6 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
                </div>
              
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

          </div>

          
        </div>
    </section>