<section class="cooperation">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h4>Зарегистрируйте груз</h4>
        </div>
        <div class="f-row">
            <div class="f-col col-list">
                <ul class="list-1">
                    <li class="list-item">Для того, чтобы начать сотрудничество, необходимо оформить груз указав информацию о содержимом груза, его стоимость и количество. А так-же прикрепив фотографии к заявке.</li>
                    <li class="list-item">Если требуется проверка товара на соответсвие количеству, то при оформлении груза на нашем сайте укажите это в графе "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые дополнительные проверки груза обсуждаются индивидуально в том числе и их стоимость.</li>
                    <li class="list-item">До отправки груза на наш склад в Китае обязательно позаботьтесь о том, чтобы сделать маркировку, с номером Вашего заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш груз. Если у Вас нет возможности сделать это самостоятельно, то попросите об этом своего поставщика.</li>
                </ul>
            </div>
            <div class="f-col col-img">
                <div class="img-container">
                    <picture>
                        <source srcset="assets/img/cooperation-1mob.png" media="(max-width: 575px)" />
                        <img src="assets/img/cooperation-1.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="f-row">
            <div class="f-col">
                <div class="img-container col-img">
                    <picture>
                        <source srcset="assets/img/cooperation-2mob.png" media="(max-width: 575px)" />
                        <img src="assets/img/cooperation-2.png" alt="">
                    </picture>
                </div>
            </div>
            <div class="f-col col-list">
                <ul class="list-2">
                    <li class="list-item">После отправки груза на наш склад в Китае, Вам обязательно нужно указать трек-номер для отслеживания посылок по Китаю для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер - это ещё одна мера для идентификации Вашего груза на нашем складе.</li>
                    <li class="list-item last-item">Если Вы оформили груз по нашей инструкции и сделали все правильно, то при получении Вашего груза на складе в Китае статус заказа изменится на "На складе".</li>
                </ul>
                <button class="btn btn-primary btn-lg">Оформить груз <img src="assets/img/arrow-left.svg" alt="arrow-left"></button>
            </div>
        </div>
    </div>
</section>