<footer>
	<div class="container">
		<div class="up-line">
			<div class="f-row">
				<div class="f-col main-information">
					<img src="assets/img/logo.svg" alt="logo">
					<ul>
						<li>8(800)600-18-69</li>
						<li>info@cargoasia.info</li>
						<li>Адрес в Китае:</li>
						<li>浙江省金华市义乌市后宅街道洪华小区5</li>
						<li>栋一单元一楼RT789库房 高建军 电话</li>
						<li>15966660379</li>
					</ul>
					<div class="social-networks">
						<a href="https://www.instagram.com" target="_blank"><img src="assets/img/instagram.svg" alt=""></a>
						<a href="https://vk.com" target="_blank"><img src="assets/img/vkontakte.png" alt=""></a>
						<a href="https://web.telegram.org" target="_blank"><img src="assets/img/telegram.png" alt=""></a>
					</div>
				</div>
				<div class="f-col secondary-information">
					<h4>Грузоперевозки</h4>
					<ul>
						<li>Цены и сроки</li>
						<li>Услуги</li>
						<li>О компании</li>
						<li>Контакты</li>
						<li>Оформить груз</li>
					</ul>
				</div>
				<div class="f-col secondary-information">
					<h4>Услуги</h4>
					<ul>
						<li>Выкуп товара</li>
						<li>Страховка груза</li>
						<li>Аренда склада</li>
						<li>Перевод денежных средств</li>
					</ul>
				</div>
				<div class="f-co secondary-information">
					<h4>Информация</h4>
					<ul>
						<li>Отзывы</li>
						<li>Требования к грузу</li>
						<li>Договор-оферта</li>
						<li>Как заключить договор</li>
						<li>Способы оплаты услуг</li>
						<li>Документы</li>
						<li>Статьи</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="markap.html" style="position: fixed; left: 25px; bottom: 25px; z-index: 1;">markap</a>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.mask.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>