<section class="services">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>

        <!-- Slider main container -->
        <div id="services" class="swiper slider-template">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <div class="img-box">
                            <img src="assets/img/services-1.png" alt="service-img" class="img-fluid">
                        </div>
                        <h4 class="card-title">Выкуп товара</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                        <div class="btn-row">
                            <button class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="img-box">
                            <img src="assets/img/services-2.png" alt="service-img" class="img-fluid">
                        </div>
                        <h4 class="card-title">Страховка груза</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                        <div class="btn-row">
                            <button class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="img-box">
                            <img src="assets/img/services-3.png" alt="service-img" class="img-fluid">
                        </div>
                        <h4 class="card-title">Аренда склада</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                        <div class="btn-row">
                            <button class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="img-box">
                            <img src="assets/img/services-4.png" alt="service-img" class="img-fluid">
                        </div>
                        <h4 class="card-title">Перевод денежных средств</h4>
                        <h6 class="card-description">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                        <div class="btn-row">
                            <button class="btn btn-secondary">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
        </div>
        <div class="swiper-navigation">
            <div class="swiper-button-prev-unique swiper-button-prev"></div>
            <div class="swiper-button-next-unique swiper-button-next"></div>
        </div>
    </div>
</section>